# Ignore node_modules and npm debug log
node_modules
npm-debug.log
dist

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore git files
.git
.gitignore

# Ignore editor directories and files
.vscode
.idea
*.swp

# Ignore test and coverage files
coverage
*.test.js
*.spec.js
__tests__
__mocks__
